<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
  	#banner{
  		background-color: #40E0D0;
  	}

  	#basic-addon{
  		
  		width: 30%;
  		color: red;
  	}

  	.btn-danger{
  		margin-top: 2%;
  		margin-left: 43%;
  	}

  	h1{

  		margin-left: 20%;
  		margin-right: 20%;
  	}
  	p{
  		margin-left: 40%;
  		margin-right: 20%;
  	}
  </style>
</head>
<body>
<div class="container">
  <div id="banner", class="jumbotron">
    <h1><font color="white">Welcome to Wingify</font></h1>      
    <p id="techGeek">{ Home of TechGeeks /></p>
  </div>
  <div class="row">
      <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="thumbnail"></div>           
      </div>
     <div class="col-lg-4"></div> 
  </div>
	
	
</div>

</body>
</html>